*.iml
.gradle
.idea
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
key.jks
recaptcha_verification.php
/app/google-services.json
/app/src/release/res/values/google_maps_api.xml
/app/src/debug/res/values/google_maps_api.xml
/app/src/main/AndroidManifest.xml